{% extends "base.html" %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="container">
    {% include "components/account/auth_half_black.html" %}

    <div class="half white">
      <img class="logo" src="{% static 'ico/dashub.svg' %}" alt="Dashub">

      {% block account_content %}{% endblock %}
    </div>
  </div>
{% endblock %}
