{% extends "account/base.html" %}
{% load static allauth i18n %}

{% block head_title %}
  {% trans "Dashub - Email Addresses" %}
{% endblock %}

{% block account_content %}
  {% include "components/account/auth_half_black.html" %}

  <div class="half white"> {% comment %} DYNAMIC {% endcomment %}
    <img class="logo" src="{% static 'ico/dashub.svg' %}" alt="Dashub" />
    <h1 class="title">{% trans "Email Addresses" %}</h1>

    {% if emailaddresses %}
      <p class="paragraphs">
        {% trans "The following email addresses are associated with your account:" %}
      </p>

      {% url 'account_email' as email_url %}
      {% element form form=form action=email_url method="post" tags="email,list" %}
        {% slot body %}
          {% csrf_token %}
          <div class="email-list">
            {% for radio in emailaddress_radios %}
              {% with emailaddress=radio.emailaddress %}
                <label class="email-item" for="{{ radio.id }}">
                  <input type="radio" name="email" id="{{ radio.id }}" value="{{ emailaddress.email }}" {% if radio.checked %}checked{% endif %}>
                  <div>
                    <strong>{{ emailaddress.email }}</strong><br>
                    {% if emailaddress.verified %}
                      <span class="badge success">{% trans "Verified" %}</span>
                    {% else %}
                      <span class="badge warning">{% trans "Not verified" %}</span>
                    {% endif %}
                    {% if emailaddress.primary %}
                      <span class="badge primary">{% trans "Primary" %}</span>
                    {% endif %}
                  </div>
                </label>
              {% endwith %}
            {% endfor %}
          </div>
        {% endslot %}

        {% slot actions %}
          <button class="btn" type="submit" name="action_login">
            <a class="btn-link" href="{% url 'Dashboard' %}">{% trans "Access account" %}</a></button>
          {% comment %} <button class="btn" type="submit" name="action_primary">{% trans "Set as primary" %}</button> {% endcomment %}
          <button class="btn" type="submit" name="action_send">{% trans "Resend verification" %}</button>
          <button class="btn" type="submit" name="action_remove">{% trans "Remove" %}</button>
        {% endslot %}
      {% endelement %}
    {% else %}
      <p class="paragraphs">
        {% include "account/snippets/warn_no_email.html" %}
      </p>
    {% endif %}

    <hr>

    <p class="paragraphs">
      <a class="links" href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
    </p>

    {% url 'account_signup' as signup_url %}
    {% include "components/account/support_message.html" with href=signup_url %}
  </div>
{% endblock %}

{% block extra_body %}
  <script src="{% static 'account/js/account.js' %}"></script>
  <script src="{% static 'account/js/onload.js' %}"></script>
  <script data-allauth-onload="allauth.account.forms.manageEmailForm" type="application/json">
    {
      "i18n": {
        "confirmDelete": "{% trans 'Are you sure you want to delete the selected email address?' %}"
      }
    }
  </script>
{% endblock %}
