{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %}

{% block head_title %}
  {% trans "Dashub - Login" %}
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="half black"></div>

    <div class="half white">
      <img class="logo" src="{% static 'ico/dashub.svg' %}" alt="Dashub">

      {% if not SOCIALACCOUNT_ONLY %}
        <h1 class="title">{% trans "Acesse sua conta" %}</h1>

        {% url 'account_login' as login_url %}
        {% url 'account_reset_password' as password_reset_url %}

        <p class="paragraphs">Bem-vindo ao Dashub, faça login para continuar.</p>

        {% element form form=form method="post" action=login_url tags="entrance,login" %}
          {% slot body %}
            {% csrf_token %}

           {% for field in form.visible_fields %}
                {% if field.name != "remember" %}
                    {{ field }}
                        {% for error in field.errors %}
                        <p class="error">{{ error }}</p>
                        {% endfor %}
                {% endif %}
            {% endfor %}

            {{ redirect_field }}

            {% if form.non_field_errors %}
              <div class="form-errors">
                {% for error in form.non_field_errors %}
                  <div class="error">{{ error }}</div>
                {% endfor %}
              </div>
            {% endif %}

          {% endslot %}
          {% slot actions %}
            <button class="btn" type="submit">{% trans "Sign In" %}</button>
          {% endslot %}
        {% endelement %}

        <hr>

        <p class="paragraphs">
          <a class="links" href="{{ password_reset_url }}">
            {% trans "Redefinir senha" %}
          </a>
        </p>

        <p class="paragraphs">
          {% setvar link %}
            <a class="links" href="{{ signup_url }}">
          {% endsetvar %}
          {% setvar end_link %}</a>{% endsetvar %}
          {% blocktranslate %}{{ link }}Criar conta{{ end_link }}{% endblocktranslate %}
        </p>

      {% endif %}

      {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
        {% element hr %}{% endelement %}

        {% element button_group vertical=True %}
          {% if PASSKEY_LOGIN_ENABLED %}
            {% element button type="submit" form="mfa_login" id="passkey_login" tags="prominent,login,outline,primary" %}
              {% trans "Sign in with a passkey" %}
            {% endelement %}
          {% endif %}

          {% if LOGIN_BY_CODE_ENABLED %}
            {% element button href=request_login_code_url tags="prominent,login,outline,primary" %}
              {% trans "Send me a sign-in code" %}
            {% endelement %}
          {% endif %}
        {% endelement %}
      {% endif %}

      {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block extra_body %}
  {{ block.super }}
  {% if PASSKEY_LOGIN_ENABLED %}
    {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
  {% endif %}
{% endblock %}
