{% extends "account/base.html" %}
{% load static allauth account i18n %}

{% block head_title %}{% trans "Dashub - Login" %}{% endblock %}

{% block account_content %}
    {% if not SOCIALACCOUNT_ONLY %}
      <h1 class="title">{% trans "Access your account" %}</h1>

      {% url 'account_login' as login_url %}
      {% url 'account_reset_password' as password_reset_url %}
      {% url 'account_signup' as signup_url %}

      <p class="paragraphs">{% trans "Welcome to Dashub, sign in to continue." %}</p>

      {% include "components/account/login_form.html" with form=form login_url=login_url %}

      <hr>

      {% include "components/account/paragraph_link.html" with label="Forgot your password?" link_text="Click here to recover" href=password_reset_url %}

      <p class="paragraphs">
        {% setvar link %}<a class="links" href="{{ signup_url }}">{% endsetvar %}
        {% setvar end_link %}</a>{% endsetvar %}
        {% blocktrans %}Don't have an account? {{ link }}Sign up{{ end_link }}{% endblocktrans %}
      </p>
    {% endif %}

    {% if SOCIALACCOUNT_ENABLED %}
      {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}

    {% include "components/account/support_message.html" with href=signup_url %}
{% endblock %}

{% block extra_body %}
  {{ block.super }}
  {% if PASSKEY_LOGIN_ENABLED %}
    {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
  {% endif %}
{% endblock %}
