{% extends "account/base.html" %}
{% load i18n allauth account static %}

{% block head_title %}{% trans "Dashub - Logout" %}{% endblock %}

{% block account_content %}
    <h1 class="title">{% trans "Are you sure you want to log out?" %}</h1>

    {% url 'account_logout' as action_url %}
    <form method="post" action="{{ action_url }}">
      {% csrf_token %}
      {{ redirect_field }}

      <br>
      <br>

      <button class="btn" type="submit">{% trans "Confirm Logout" %}</button>
    </form>

    <p class="paragraphs">
       <a class="links" href="javascript:history.back()">{% trans "Back" %}</a>
    </p>

    {% include "components/account/support_message.html" with href=signup_url %}
{% endblock %}
