{% extends "account/base.html" %}
{% load i18n allauth account %}
{% load static %}

{% block head_title %}
  {% trans "Dashub - Password Reset" %}
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="half black"></div>

    <div class="half white">
      <img class="logo" src="{% static 'ico/dashub.svg' %}" alt="Dashub">

      <h1 class="title">{% trans "Password Reset" %}</h1>

      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

      <p class="paragraphs">
        {% blocktrans %}
          Enviamos um e-mail para você. Se não receber, verifique sua caixa de spam. Caso não chegue em alguns minutos, entre em contato conosco.
        {% endblocktrans %}
      </p>

      <hr>

      <p class="paragraphs">
        <a href="https://mail.google.com/" class="links" rel="noopener noreferrer">Ir para caixa de spam</a>
      </p>

      <p class="support">
        <img src="{% static 'ico/support.svg' %}" alt="support">
        {% setvar link %}<a class="links" href="{{ signup_url }}">{% endsetvar %}
        {% setvar end_link %}</a>{% endsetvar %}
        {% blocktranslate %}Precisa de ajuda? {{ link }}Acesse o suporte{{ end_link }}{% endblocktranslate %}
      </p>
    </div>
  </div>
{% endblock %}

{% block extra_body %}
  {{ block.super }}
{% endblock %}
