{% extends "account/base.html" %}
{% load static allauth account i18n %}

{% block head_title %}{% trans "Dashub - Password Reset" %}{% endblock %}

{% block account_content %}
    <h1 class="title">{% trans "Password Reset" %}</h1>

    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="paragraphs">
      {% blocktrans %}
        We sent you an email. If you don't receive it, check your spam folder. If it doesn't arrive in a few minutes, please contact us.
      {% endblocktrans %}
    </p>

    <hr>

    {% include "components/account/spam_link.html" %}
    {% include "components/account/support_message.html" with href=signup_url %}
{% endblock %}
