{% extends "account/base.html" %}
{% load static allauth account i18n %}

{% block head_title %}
  {% trans "Dashub - Reset Password" %}
{% endblock %}

{% block account_content %}
  {% include "components/account/auth_half_black.html" %}

  <div class="half white"> {% comment %} DYNAMIC {% endcomment %}
    <img class="logo" src="{% static 'ico/dashub.svg' %}" alt="Dashub">
    <h1 class="title">{% trans "Reset Password" %}</h1>

    <p class="paragraphs">
      {% trans "Enter your email to reset your password." %}
    </p>

    {% if user.is_authenticated %}
      <p class="paragraphs">
        {% trans "You are already logged in." %}
      </p>
    {% endif %}

    {% url 'account_reset_password' as reset_url %}
    {% include "components/account/reset_password_form.html" with form=form reset_url=reset_url %}

    <hr>

    <p class="paragraphs">
      <a class="links" href="javascript:history.back()">{% trans "Back" %}</a>
    </p>

    {% include "components/account/support_message.html" with href=signup_url %}
  </div>
{% endblock %}
