{% extends "account/base.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %}

{% block head_title %}
  {% trans "Dashub - Redefinir Senha" %}
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
{% endblock %}

{% block content %}
  <div class="container">

    <div class="half black"></div>

    <div class="half white">
      <img class="logo" src="{% static 'ico/dashub.svg' %}" alt="Dashub">

      <h1 class="title">{% trans "Redefinir senha" %}</h1>

      <p class="paragraphs">
        {% trans "Digite seu e-mail para redefinir sua senha." %}
      </p>

      {% if user.is_authenticated %}
        <p class="paragraphs">
          {% trans "Você já está logado." %}
        </p>
      {% endif %}

      {% url 'account_reset_password' as reset_url %}

      {% element form form=form method="post" action=reset_url %}
        {% slot body %}
          {% csrf_token %}
          {% for field in form.visible_fields %}
            {{ field }}
            {% for error in field.errors %}
              <p class="error">{{ error }}</p>
            {% endfor %}
          {% endfor %}
          {{ redirect_field }}

          {% if form.non_field_errors %}
            <div class="form-errors">
              {% for error in form.non_field_errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endslot %}
        {% slot actions %}
          <button class="btn" type="submit">{% trans "Enviar instruções" %}</button>
        {% endslot %}
      {% endelement %}

      <hr>

      <p class="paragraphs">
        <a class="links" href="{% url 'account_login' %}">Voltar</a>
      </p>

      <p class="support">
          <img src="{% static 'ico/support.svg' %}" alt="support">
          {% setvar link %}<a class="links" href="{{ signup_url }}">{% endsetvar %}
          {% setvar end_link %}</a>{% endsetvar %}
          {% blocktranslate %}Precisa de ajuda? {{ link }}Acesse o suporte{{ end_link }}{% endblocktranslate %}
      </p>
    </div>
  </div>
{% endblock %}
