{% extends "account/base.html" %}
{% load i18n allauth account static %}

{% block head_title %}{% trans "Dashub - Reset password" %}{% endblock %}

{% block account_content %}
    {% if token_fail %}
      <h1 class="title">{% trans "Invalid token" %}</h1>

      {% url 'account_reset_password' as passwd_reset_url %}
      <p class="paragraphs">
        {% blocktrans %}The password reset link is invalid or has already been used. Please request a <a class="links" href="{{ passwd_reset_url }}">new reset</a>.{% endblocktrans %}
      </p>

    {% else %}
      <h1 class="title">{% trans "Reset your password" %}</h1>
      <p class="paragraphs">{% trans "Enter your new password below." %}</p>

      {% include "components/account/form_reset_password.html" with form=form action_url=action_url %}

      <hr>

      <p class="paragraphs">
        <a class="links" href="{% url 'account_logout' %}"
           onclick="event.preventDefault(); document.getElementById('logout-from-stage').submit();">
          {% trans "Cancel" %}
        </a>
      </p>
    {% endif %}

    {% if not cancel_url %}
      {% include "components/account/logout_hidden_form.html" %}
    {% endif %}
    {% include "components/account/support_message.html" with href=signup_url %}
{% endblock %}
