{% extends "account/base.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %}

{% block head_title %}
  {% trans "Dashub - Sair" %}
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="half black"></div>

    <div class="half white">
      <img class="logo" src="{% static 'ico/dashub.svg' %}" alt="Dashub">

      <h1 class="title">{% trans "Sair da conta" %}</h1>

      {% element p %}
        {% trans "Tem certeza que deseja sair?" %}
      {% endelement %}

      {% url 'account_logout' as action_url %}
      {% element form method="post" action=action_url no_visible_fields=True tags="logout,entrance" %}
        {% slot body %}
          {% csrf_token %}
          {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
          <button class="btn" type="submit">{% trans "Confirmar saída" %}</button>
        {% endslot %}
      {% endelement %}

      <hr>

      <p class="paragraphs">
        <a class="links" href="{% url 'account_login' %}">{% trans "Voltar para login" %}</a>
      </p>

      <p class="support">
        <img src="{% static 'ico/support.svg' %}" alt="Suporte">
        {% setvar link %}<a class="links" href="{{ signup_url }}">{% endsetvar %}
        {% setvar end_link %}</a>{% endsetvar %}
        {% blocktranslate %}Precisa de ajuda? {{ link }}Acesse o suporte{{ end_link }}{% endblocktranslate %}
      </p>
    </div>
  </div>
{% endblock %}
