{% extends "account/base.html" %}
{% load static allauth account i18n %}

{% block head_title %}
  {% trans "Dashub - Signup" %}
{% endblock %}

{% block account_content %}

  {% include "components/account/auth_half_black.html" %}

  <div class="half white"> {% comment %} DYNAMIC {% endcomment %}

    <img class="logo" src="{% static 'ico/dashub.svg' %}" alt="Dashub">

    {% if not SOCIALACCOUNT_ONLY %}
      <h1 class="title">{% trans "Create your account" %}</h1>

      <p class="paragraphs">{% trans "Fill in the details below to create your account." %}</p>

      {% url 'account_signup' as action_url %}

      {% include "components/account/signup_form.html" with form=form action_url=action_url %}

      <hr>

      {% url 'account_login' as login_url %}
      {% include "components/account/paragraph_link.html" with label="Already have an account?" link_text="Sign in here" href=login_url %}
    {% endif %}

    {% if PASSKEY_SIGNUP_ENABLED %}
      <hr>
      {% element button href=signup_by_passkey_url tags="prominent,signup,outline,primary" %}
        {% trans "Sign up using a passkey" %}
      {% endelement %}
    {% endif %}

    {% if SOCIALACCOUNT_ENABLED %}
      {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}

    {% include "components/account/support_message.html" with href=signup_url %}
  </div>

{% endblock %}
