{% load i18n allauth account %}

{% element form method="post" action=action_url %}
  {% slot body %}
    {% csrf_token %}
    {{ redirect_field }}

    {% for field in form.visible_fields %}
      {{ field }}
      {% for error in field.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="form-errors">
        {% for error in form.non_field_errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endslot %}

  {% slot actions %}
    <button class="btn" type="submit" name="action">{% trans "Change password" %}</button>
  {% endslot %}
{% endelement %}
