{% load i18n %}
{% load allauth account %}

{% element form form=form method="post" action=action_url tags="entrance,signup" %}
  {% slot body %}
    {% csrf_token %}
    {% for field in form.visible_fields %}
      {{ field }}
      {% for error in field.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    {% endfor %}
    {{ redirect_field }}

    {% if form.non_field_errors %}
      <div class="form-errors">
        {% for error in form.non_field_errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endslot %}

  {% slot actions %}
    <button class="btn" type="submit">{% trans "Sign Up" %}</button>
  {% endslot %}
{% endelement %}
